html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #363636;
}
body {
  padding:0;
  margin:0;
}

.container {
  font-family: Avenir;
  margin-top: -750px;
  background-color: #363636;
  z-index: 5;
}



.header{
  font-family: Avenir;
}
#name{
  font-family: Avenir;
  color: #FF0D72;
}



a:hover{
  line-height: 1;
  text-decoration: none;
}


.headerlist{
  position: absolute;
  background-color: #363636;
  display: inline;
  width: 99.5%;
  opacity: 1;
  z-index: 6;
}
#name{
  font-size: 28px;
  font-style: normal;
  float: left;
  margin-left: 170px;
  top: 15px;
  position: relative;
  text-decoration: none;
}

.headerlist{
  position: absolute;
  background-color: #1D1D1D;
  display: inline;
  padding-right: 160px;
  width: 98.9%;
  /* opacity: .8; */
  z-index: 6;
  padding-top: 20px;
  top: -10px;
}

.headerlist ul{
  list-style-type: none;
  float: right;
  margin-top: 20px;

}
.headerlist ul a{
  text-decoration: none;
  float: right;
  color: #f0f0f0;
  margin: 20px;
  font-size: 15px;
}
html{
  font-family: Aevnir;
}
li {
  display: inline;
}
.narrowBody{
  width: 33%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 900px;
  color: #f0f0f0;
}

.body{
  /* width: 80%; */
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 900px;
  color: #f0f0f0;
}

.screenshot{
  vertical-align:middle;
  height: 600px;
}


.imageText{
  width: 20%;
  /* float: right; */
  display:inline-block;
}

.imageTextLeft{
  width: 20%;
  /* float: right; */
  display:inline-block;
}

.imageTextRight{
  width: 20%;
  /* float: right; */
  display:none;
}


.bigPink{
  font-size: 30px;
  color: #FF0D72;
}

.giantPink{
  font-size: 80px;
  color: #FF0D72;
}


.bottomSection{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 100px;
  background-color: #1D1D1D;
  
}

.bottomSection ul{
  text-align: center;
}

.bottomSection ul li a{
  list-style: none;
  text-decoration: none;
  color:#FF0D72;
}

.bottomSection ul li{
  margin:19px;
}







.frontMessage{
  width: 50%; 
  text-align:center; 
  margin-left:auto; 
  margin-right: auto;
  padding:17px;
  /* border-radius: 20px; */
  color:#f0f0f0;
  margin-bottom: 100px;
  /* border: 4px solid #3a972b; */
}




.contributeLink{
  color: #FF0D72;
  text-decoration: underline;
}




.appStoreButton{
  display: inline-block;
  background-color: #1053b8;
  width: 140px;
  margin-right:10px;
  margin-left:10px;
  /* margin-top: 20px; */
  margin-bottom: 5px;
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
}

.appStoreButton a{
  color:#f0f0f0;
  text-decoration: none;
}


.item{
  display:inline-table;
  margin:1%;
  height: 400px;
  background-color: #1D1D1D;
  width:22%;
  /* margin:auto; */
  border-radius: 30px;
  box-shadow: 2px 2px 5px #666666;
  
}

.item:hover{
  box-shadow: 5px 5px 8px #666666;
  cursor: pointer;
}

.instagramButton{
  display: inline-block;
  background-image: linear-gradient(to right, red , rgb(255, 187, 0));
  width: 140px;
  margin-right:10px;
  margin-left:10px;
  /* margin-top: 20px; */
  margin-bottom: 5px;
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
}

.instagramButton a{
  color:#f0f0f0;
  text-decoration: none;
}






.paypalButton{
  display: inline-block;
  background-image:linear-gradient(to bottom right, #589bdaa1 , #002fff83);;
  width: 140px;
  margin-right:10px;
  margin-left:10px;
  /* margin-top: 20px; */
  margin-bottom: 5px;
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 20px;
}

.paypalButton a{
  color:#f0f0f0;
  text-decoration: none;
}










/* on a phone */
@media screen and (max-width: 1000px) {


  .linkNoStyle{
    text-decoration: none;

  }


  .frontMessage{
    width:75%;
  }

  html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #363636;
  }
  body {
    padding:0;
    margin:0;
  }

  .container {
    font-family: Avenir;
    margin-top: -750px;
    background-color: #363636;
    z-index: 5;
  }



  .header{
    font-family: Avenir;
  }




  a:hover{
    line-height: 1;
    text-decoration: none;
  }




  #name{
    font-size: 28px;
    font-style: normal;
    float: none;
    /* margin-left: 0px; */
    /* top: 0px; */
    position: none;
    font-family: Avenir;
    color: #FF0D72;
    margin-right: 0px;
    margin-left: 0px;
    text-decoration: none;
    
  }

  .headerlist{
    text-decoration: none;
    text-align: center;
    float: center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: none;
    background-color: #1D1D1D;
    display: block;
    /* padding-right: 160px; */
    z-index: 6;
    margin-top: -45px;
  }

  .headerlist ul{
    width: auto;

    /* display: none; */
    list-style-type: none;
    float: none;
    margin-left: 0px;
    margin-right: 17px;
    margin-top: none;

  }

  .headerlist ul a{
    
    text-decoration: none;
    float: none;
    color: #f0f0f0;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    display: inline;
  }
  html{
    font-family: Aevnir;
  }
  li {
    display: inline-block;
  }













  .narrowBody{
    width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 910px;
    color: #f0f0f0;
  }

  .body{
    /* width: 80%; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1000px;
    color: #f0f0f0;
  }

  .screenshot{
    height: 400px;
    /* vertical-align:middle; */
  }
  .imageText{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .imageTextLeft{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .imageTextRight{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }



  .bigPink{
    font-size: 30px;
    color: #FF0D72;
  }


  .bottomSection{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #1D1D1D;
  }
}

