

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filament Left - Free Pro</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="icon" type="image/png" href="assets/logo.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-60ZC9PFKQZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-60ZC9PFKQZ');
    </script>

  </head>
  <body>

    <div class ="container">
     <div class ="header">
      <div class ="headerlist">
        <a href="index.html" class="linkNoStyle"><h2 id="name">Filament Left</h2></a>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.masonhorder.filamentleft" target="blank">View On Play Store</a></li>         
          <li><a href="https://apps.apple.com/us/app/filament-left/id1546028198" target="blank">View On App Store</a></li>          
          <li><a href="https://twitter.com/filamentleft/" target="blank">Twitter</a></li>
          <li><a href="https://www.instagram.com/filamentleft/" target="blank">Instagram</a></li>

        </ul>
      </div>
      <div class="narrowBody">
        <img src="assets/scanning-feature.jpeg" alt="" width="40%">
        <h2>Free Pro</h2>
        <p>If you would like to have free pro in the future(it will cost money even if you already have downloaded the app) all you need to do is send an email to masonhorder.dev@gmail.com containing at least 30 images of spools of filament. Once it becomes paid we will get you set up on the pro plan. Thanks so much because you are helping make this a better product!</p>
        <br><br><br><br><br>
        <h2>How to take good photos:</h2>
        <ul>
          <li>-ONLY ONE spool in frame<br></li>
          <li>-Make sure the full spool is in frame, horizontally it should take up 1/2 the screen.<br></li>
          <li>-Keep the spool straight on<br></li>
          <li>-Not too much stuff in the background<br></li>
        </ul>
        <br><br><br><br><br>
        <h2>Examples:</h2>
        <img src="assets/examples.png" alt="" width="90%">
      </div>
      
    </div>
    <div class="bottomSection">
      <ul>
        <li><a href="../index.html" target="blank">Mason Horder's Page</a></li>
        <li><a href="index.html">Home Page</a></li>
        <li><a href="privacy.html" target="blank">App Store Privacy Policy</a></li>
        <li><a href="help.html">Help!</a></li>
        <!-- <li><a href="contributions.html">How We Use Your Contributions</a></li> -->
        <!-- <li><a href="contributers.html">Contributers</a></li> -->
        <!-- <li><a href="https://paypal.me/masonhorder" target="blank">Contribute!</a></li> -->
        <li><a href="https://www.instagram.com/filamentleft/" target="blank">Instagram</a></li>
        <li><a href="https://www.twitter.com/filamentleft/" target="blank">Twitter</a></li>
        <li><a href="https://apps.apple.com/us/app/filament-left/id1546028198" target="blank">View on App Store</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.masonhorder.filamentleft" target="blank">View on Play Store</a></li>
        <li><a href="bug.html">Submit a bug</a></li>
      </ul>
    </div>

  
  </body>
</html>





<!-- <p>We collect no data from you at all when you are using the app. Any log, preference or other action will ONLY be stored locally and no one else can have access to it, including us at 'Coding Log'</p> -->