

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filament Left - Help</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="icon" type="image/png" href="assets/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-60ZC9PFKQZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-60ZC9PFKQZ');
    </script>


  </head>
  <body>

    <div class ="container">
     <div class ="header">
      <div class ="headerlist">
        <a href="index.html" class="linkNoStyle"><h2 id="name">Filament Left</h2></a>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.masonhorder.filamentleft" target="blank">View On Play Store</a></li>         
          <li><a href="https://apps.apple.com/us/app/filament-left/id1546028198" target="blank">View On App Store</a></li>          
          <li><a href="https://twitter.com/filamentleft/" target="blank">Twitter</a></li>
          <li><a href="https://www.instagram.com/filamentleft/" target="blank">Instagram</a></li>

        </ul>
      </div>












      <div class="body">
        <p>Please either fill out the form below or send an email to masonhorder.dev@gmail.com</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf4Dru9FP7uVZJEqR3bJRa6lnqomNs_CtCl9Wu1Y7INmbwBfA/viewform?embedded=true" width="640" height="725" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>







        <div class="bottomSection">
          <ul>
            <li><a href="../index.html" target="blank">Mason Horder's Page</a></li>
            <li><a href="index.html">Home Page</a></li>
            <li><a href="privacy.html" target="blank">App Store Privacy Policy</a></li>
            <li><a href="help.html">Help!</a></li>
            <!-- <li><a href="contributions.html">How We Use Your Contributions</a></li> -->
            <!-- <li><a href="contributers.html">Contributers</a></li> -->
            <!-- <li><a href="https://paypal.me/masonhorder" target="blank">Contribute!</a></li> -->
            <li><a href="https://www.instagram.com/filamentleft/" target="blank">Instagram</a></li>
            <li><a href="https://www.twitter.com/filamentleft/" target="blank">Twitter</a></li>
            <li><a href="https://apps.apple.com/us/app/filament-left/id1546028198" target="blank">View on App Store</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.masonhorder.filamentleft" target="blank">View on Play Store</a></li>
            <li><a href="bug.html">Submit a bug</a></li>
          </ul>
        </div>








      </div>
    </div>


  
  </body>
</html>





<!-- <p>We collect no data from you at all when you are using the app. Any log, preference or other action will ONLY be stored locally and no one else can have access to it, including us at 'Coding Log'</p> -->